import("methods")
import("utils")
import("ergm")
importFrom("stats", "complete.cases")
importFrom("network", "network")
importFrom("network", "network.size")
importFrom("network", "get.vertex.attribute")
importFrom("network", "set.vertex.attribute")
importFrom("network", "list.vertex.attributes")
importFrom("network", "is.directed")
importFrom("network", "is.bipartite")
exportMethods("gof")
exportMethods("getformula")
exportMethods("interpret")
exportMethods("checkdegeneracy")
export("is.mat.directed")
export("is.mat.onemode")
export("adjust")
export("handleMissings")
export("preprocess")
