import("methods")
import("utils")
import("network")
import("ergm")
importFrom("stats", "complete.cases")
exportMethods("gof")
exportMethods("getformula")
exportMethods("interpret")
exportMethods("checkdegeneracy")
export("is.mat.directed")
export("is.mat.onemode")
export("adjust")
export("handleMissings")
export("preprocess")
